@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OCR Manager</title>
    <link href="~/Script/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Script/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Script/css/bootstrap-table.min.css" rel="stylesheet" />
    <script src="~/Script/js/jquery-3.4.1.min.js"></script>
    <script src="~/Script/js/bootstrap.min.js"></script>
    <script src="~/Script/js/bootstrap-table.min.js"></script>
</head>
<body>
    <h2 style="text-align:center">AIC OCR 管理</h2>

    @RenderBody()
</body>
</html>
